/*------ CLASES ------*/

/*# FONDOS #*/
.fondoFooter{
    background-color: #333;
}
/*--------------------------------*/

/*# FOOTER #*/
.footer {
    height: 60px;
    padding-top: 20px;
}

.footer p{
    color: #FFF; /* text color */
    font-size: 12px;
    display: inline-block;
    margin: 0;

}
/*--------------------------------*/


/*# ALERTAS #*/
.contenedor_error{
    display: none !important;
}

.contenedor_error_visible{
    display: block !important;
}


.contenedor_exito{
    display: none !important;
}

.contenedor_exito_visible{
    display: block !important;
}

.borde_bien{
   border: 1px solid rgba(0,0,0,.2);	
}

.borde_error{
   border: 2px solid #FF002A !important; 
}

.borde_error_check{
   border:solid #FF002A 1px !important; 
}

.activo{
    color:#51a351;
}

.inactivo{
    color:#cd260a;
}


/*--------------------------------*/


/*# LOGO #*/
.logo{
    margin: 0;
    background: url(./../imagenes/incad_color.png);
    width: 343px;
    height: 128px;
    display: inline-block;
    background-size: 100%;
}

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}
/*--------------------------------*/


/*# CENTRAR #*/
.centrar{
    text-align: center;
}
/*--------------------------------*/

/*# CLASES DE ERROR #*/
.error{
    border: 2px solid #FF002A !important;
}

.select.error{
    border: 2px solid #FF002A !important;
}


input.error{
    border: 2px solid #FF002A;
}

textarea.error{
    border: 2px solid #FF002A;
}
/*--------------------------------*/


/*# CLASES DE ERROR #*/
.visibleNone{
    display: none;
}
/*--------------------------------*/

/*------ END CLASES ------*/





.breadcrumb li {
	
	font-size: 20px;
	
}



.img_descargar_excel{
    background-image: url(./../imagenes/descargar_reporte.png);
    background-repeat: no-repeat;
    height: 128px;
    width: 128px;
    margin: 15px auto auto auto;
    background-position: center 0;
    cursor:pointer; 
}



/**div contenedor de ajax **/

.div_centro {
    position:absolute;
    margin:auto;
    top:10%;
    left:0;
    right:0;
    bottom:auto; 
    width:980px;    
    height:auto;
    text-align:right;
    z-index: 9;
    background-color:#fff;
    border: 5px solid rgba(255,255,255,0.1);
    -moz-border-radius: 9px;
    -webkit-border-radius: 9px;
    border-radius: 9px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;   
}

.div_centro_sobre {
    z-index: 10;
}

.citasAsignarEstado{
    width: 76px;
    height: 66px;
    margin: auto;
    background: url(./../imagenes/icon-ok.png) no-repeat;
    background-repeat: no-repeat;
    background-position: center center;
}

#a_cierre_panel{
    background: url(./../imagenes/x.png) no-repeat;
    width: 25px;
    height: 29px;
    display: inline;
    z-index: 3200;
    position: absolute;
    top: -15px;
    right: -16px;
    cursor: pointer;
}

#a_cierre_panel2{
    background: url(./../imagenes/x.png) no-repeat;
    width: 25px;
    height: 29px;
    display: inline;
    z-index: 3200;
    position: absolute;
    top: -15px;
    right: -16px;
    cursor: pointer;
}


.div_interno {
    position:relative;
    width:100%;
    height:auto;
    text-align:center;
    vertical-align:middle;
    /*background-color:#FFF;*/
}

.div_interno div.encabezado{
    height: 50px;
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0; /* border radius */
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box; /* prevents bg color from leaking outside the border */
    -moz-box-shadow: 0 1px 0 #159a7f, inset 0 1px 0 rgba(255,255,255,.43); /* drop shadow and inner shadow  */
    padding-top: 20px;
}

.div_interno div.encabezado h3{
    color: #fff; /* text color */
    font-family: "Cabin";
    font-size: 18px;
    font-weight: bold;
    text-shadow: 0 0 2px rgba(0,0,0,.5); /* drop shadow */
    margin: 0;
    text-align: center;
}

.div_interno div.encabezado h4{
    color: #fff; /* text color */
    font-family: "Cabin";
    font-size: 14px;
    font-weight: bold;
    text-shadow: 0 0 2px rgba(0,0,0,.5); /* drop shadow */
    margin: 0;
    text-align: center;
}

.div_interno div.cuerpo{
    height:450px;
    overflow:auto;
    width:100%;
}

.d_fondo_negro{
    opacity: .9 !important;
    background-color: #13151d;
    width:100%;
    height:100%;
    position:fixed;
    top:0;
    left:0;
    display: none;
    z-index: 2;
    
}
/** Fin div contenedor de ajax **/




div.div_barra_progreso {
    border: 1px solid #CCCCCC;
    padding: 10px;
	text-align: left;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

div.div_barra_progreso_int {
	text-align: center;
    font-family: "Cabin", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif !important;
    font-size: 14px;
}


.es_capacita{
    color: #73C6B6;
    font-size: 18px;
}

.es_productiva{
    color: #3498DB;
    font-size: 18px;
}

.es_hoja_vida{
    color: #AF7AC5;
    font-size: 18px;
}

.es_academica{
    color: #F8C471;
    font-size: 18px;
}

.es_cartera{
    color: #F1948A;
    font-size: 18px;
}


.es_cert_carta{
    color: #76D7C4;
    font-size: 18px;
}
.es_cert_contrato{
    color: #F8C471;
    font-size: 18px;
}
.es_cert_calificacion{
    color: #D2B4DE;
    font-size: 18px;
}
.es_cert_certificacion{
    color: #85C1E9;
    font-size: 18px;
}
.es_cert_pasantia{
    color: #D5DBDB;
    font-size: 18px;
}
.es_cert_solicitud_academica{
    color: #EDBB99;
    font-size: 18px;
}
.es_cert_laboral{
    color: #2E86C1;
    font-size: 18px;
}




.btn_academica{
    background-color: #F8C471 !important;
}

.btn_cartera{
    background-color: #F1948A !important;
    
}


.div_link_xls{
	cursor:pointer;
	text-decoration: none;
	background-image:url(../imagenes/excel-xls-icon.png);
	width:100%;
	height:72px;	
	background-position: center center;
	background-repeat:no-repeat;
}